{% spaceless %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class=" navbar-inner">
        <div class="container">
            <ul class="nav">
                    <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Gestionar solicitud
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href={{path('sifda_solicitudservicio')}}>Mostrar solicitud</a></li>
                        <li><a tabindex="-2" href={{path('sifda_solicitudservicio_new')}}>Crear solicitud</a></li>
                        
                         <li><a tabindex="-1" href="#">Another action</a></li>
                         <li><a tabindex="-1" href="#">Something else here</a></li>
                    </ul>
                    </div>
     
            </ul>
	</div>
    </div>
</div>
{% endspaceless %}
