{% spaceless %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class=" navbar-inner">
        <div class="container">
            <ul class="nav">
		{#<li><a href="#">Link</a> <i class="icon-home icon-white"></i> SIFDA</li>#}
		<li><a href="#" tabindex="-1">OPCION 1</a></li>
                <li><a href="#" tabindex="-1">OPCION 2</a></li>
		<li><a href="#" tabindex="-1">OPCION 3</a></li>       
            </ul>
	</div>
    </div>
</div>
{% endspaceless %}
