{% extends 'MinsalsifdaBundle::layoutTecnico.html.twig' %}

{% block contenido_in -%}
    <center><h3>Agregar Orden de Trabajo</h3></center>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sifda_ordentrabajo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
